The requirements in this task are :
pandas
numpy
matplotlib
seaborn
scikit-learn

Library	Purpose in the Project
pandas:
	Used for data loading, cleaning, preprocessing, and feature engineering.

numpy:
        Used for numerical computations and mathematical operations such as RMSE calculation
 and handling missing values.

matplotlib:
	Used for creating visualizations including bar charts, line plots, and scatter plots.

seaborn:
	Used for advanced statistical visualizations such as the correlation heatmap and boxplots.
scikit-learn:

	Used for data preprocessing, train-test splitting, model training, evaluation metrics, and cross-validation.
